.content-result {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
  
  .content-result h1 {
    font-size: 2.5rem;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: #03945a;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 1px;
    border-bottom: 2px solid #03945a;
  }
  
  .content-result h2 {
    font-size: 1.8rem;
    color: white;
    margin-top: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  
  .score-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border-bottom: 2px solid #1db954;
    font-size: 1.8rem;
  }
  
  .content-result .score-title {
    color: #b4b4b4;
    font-weight: bold;
  }
  
  .score-value {
    color: #fff;
    font-weight: bold;
  }
  
  .content-result ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    width: 60%;
  }
  
  .content-result li {
    background-color: #181818;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Responsive design for mobile devices */
  @media (max-width: 768px) {
    .content-result {
        padding: 10px;
        max-width: 90%;
    }
  }
  